@model LojaVirtual.Web.Models.ProdutoViewModel

@{
    ViewData["Title"] = $"Editar o produto {Model.Titulo}";
}

<h1>@ViewData["Title"]</h1>

<h4>Preencha os dados corretamente</h4>
<hr />

<div class="container my-4">
    <div class="card">
        <div class="card-body">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="Titulo" class="control-label"></label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label asp-for="Valor" class="control-label"></label>
                                <input asp-for="Valor" class="form-control" />
                                <span asp-validation-for="Valor" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Estoque" class="control-label"></label>
                                <input asp-for="Estoque" class="form-control" />
                                <span asp-validation-for="Estoque" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="CategoriaId" class="control-label"></label>
                            <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                            <span asp-validation-for="CategoriaId" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6 d-flex flex-column align-items-center">
                        <label asp-for="Imagem" class="control-label"></label>
                        <input type="file" name="Imagem" id="Imagem" class="form-control" />
                        <span asp-validation-for="Imagem" class="text-danger"></span>
                        <img id="preview" src="@Model.ImagemUrl" class="img-thumbnail" style="max-height: 250px;" alt="Preview">
                    </div>

                </div>


                <div class="row">
                    <div class="mb-3 d-flex gap-2">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-warning">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
